In [1]:
import pandas as pd 
from function import get_distinct

## Nettoyage des ___customers___

In [18]:
customers = pd.read_csv('data/endogene/customers_export_1.csv')

In [19]:
customers.columns.tolist()

['First Name',
 'Last Name',
 'Email',
 'Company',
 'Address1',
 'Address2',
 'City',
 'Province',
 'Province Code',
 'Country',
 'Country Code',
 'Zip',
 'Phone',
 'Accepts Marketing',
 'Total Spent',
 'Total Orders',
 'Tags',
 'Note',
 'Tax Exempt']

In [23]:
customers = customers.drop([
    'Company', 
    'Address1',
    'Address2',
    'City',
    'Province',
    'Province Code',
    'Country Code',
    'Zip',
    'Tags',
    'Note',
    'Tax Exempt'], axis=1)

In [24]:
customers

,First Name,Last Name,Email,Country,Phone,Accepts Marketing,Total Spent,Total Orders
0,uedenon,Guedenon,NaN,Benin,+22997972573,no,0.0,0
1,Loris,AGBOTON,NaN,Benin,+22961058976,no,0.0,0
2,Feli,Jeremie,NaN,Benin,NaN,no,0.0,0
3,TOS,MAX,tosmax662@gmail.com,NaN,NaN,no,0.0,0
4,Mouhamed,AGBOBA,mouhamedagboba@gmail.com,NaN,NaN,no,0.0,0
...,...,...,...,...,...,...,...,...
478,Spéro,VITEGNI,NaN,Benin,+22995523850,no,0.0,2
479,Spéro,VITEGNI,spero.vitegni@pivotech.xyz,Benin,61 68 74 73,no,399540.0,13
480,Rosalie,Danhouègnon,NaN,Benin,+22966326757,no,6426.0,6
481,NaN,NaN,clarisse.serotamou@pivotech.xyz,NaN,NaN,yes,0.0,0
482,Lolita,Johnson,rosalie.danhouegnon@pivotech.xyz,Benin,66 32 67 57,yes,13000.0,1

In [26]:
customers.columns.to_list()

['First Name',
 'Last Name',
 'Email',
 'Country',
 'Phone',
 'Accepts Marketing',
 'Total Spent',
 'Total Orders']

In [29]:
customers.columns = ['surname',
 'name',
 'email',
 'country',
 'phone',
 'accepts_marketing',
 'spents',
 'orders']

In [40]:
customers

,surname,name,email,country,phone,accepts_marketing,spents,orders
0,uedenon,Guedenon,NaN,Benin,+22997972573,no,0.0,0
1,Loris,AGBOTON,NaN,Benin,+22961058976,no,0.0,0
2,Feli,Jeremie,NaN,Benin,NaN,no,0.0,0
3,TOS,MAX,tosmax662@gmail.com,NaN,NaN,no,0.0,0
4,Mouhamed,AGBOBA,mouhamedagboba@gmail.com,NaN,NaN,no,0.0,0
...,...,...,...,...,...,...,...,...
478,Spéro,VITEGNI,NaN,Benin,+22995523850,no,0.0,2
479,Spéro,VITEGNI,spero.vitegni@pivotech.xyz,Benin,61 68 74 73,no,399540.0,13
480,Rosalie,Danhouègnon,NaN,Benin,+22966326757,no,6426.0,6
481,NaN,NaN,clarisse.serotamou@pivotech.xyz,NaN,NaN,yes,0.0,0
482,Lolita,Johnson,rosalie.danhouegnon@pivotech.xyz,Benin,66 32 67 57,yes,13000.0,1

In [101]:
customers.to_csv("data/endogene/clean data/customers.csv")

## Nettoyage de ___orders___

In [58]:
orders = pd.read_csv("data/endogene/orders_export_1.csv")

In [59]:
orders.columns.tolist()

['Name',
 'Email',
 'Financial Status',
 'Paid at',
 'Fulfillment Status',
 'Fulfilled at',
 'Accepts Marketing',
 'Currency',
 'Subtotal',
 'Shipping',
 'Taxes',
 'Total',
 'Discount Code',
 'Discount Amount',
 'Shipping Method',
 'Created at',
 'Lineitem quantity',
 'Lineitem name',
 'Lineitem price',
 'Lineitem compare at price',
 'Lineitem sku',
 'Lineitem requires shipping',
 'Lineitem taxable',
 'Lineitem fulfillment status',
 'Billing Name',
 'Billing Street',
 'Billing Address1',
 'Billing Address2',
 'Billing Company',
 'Billing City',
 'Billing Zip',
 'Billing Province',
 'Billing Country',
 'Billing Phone',
 'Shipping Name',
 'Shipping Street',
 'Shipping Address1',
 'Shipping Address2',
 'Shipping Company',
 'Shipping City',
 'Shipping Zip',
 'Shipping Province',
 'Shipping Country',
 'Shipping Phone',
 'Notes',
 'Note Attributes',
 'Cancelled at',
 'Payment Method',
 'Payment Reference',
 'Refunded Amount',
 'Vendor',
 'Outstanding Balance',
 'Employee',
 'Location',
 'Device ID',
 'Id',
 'Tags',
 'Risk Level',
 'Source',
 'Lineitem discount',
 'Tax 1 Name',
 'Tax 1 Value',
 'Tax 2 Name',
 'Tax 2 Value',
 'Tax 3 Name',
 'Tax 3 Value',
 'Tax 4 Name',
 'Tax 4 Value',
 'Tax 5 Name',
 'Tax 5 Value',
 'Phone',
 'Receipt Number',
 'Duties',
 'Billing Province Name',
 'Shipping Province Name',
 'Payment Terms Name',
 'Next Payment Due At']

In [62]:
orders = orders.get([
    'Name', 
    'Email',
    'Financial Status',
    'Paid at',
    'Subtotal',
    'Shipping',
    'Taxes',
    'Shipping Method',
    'Created at',
    'Lineitem quantity',
    'Lineitem name',
    'Lineitem price',
    'Payment Method',
    'Source',
    'Phone'
])

In [63]:
orders

,Name,Email,Financial Status,Paid at,Subtotal,Shipping,Taxes,Shipping Method,Created at,Lineitem quantity,Lineitem name,Lineitem price,Payment Method,Source,Phone
0,N°1431,evaristedjokle140891@gmail.com,paid,2021-11-19 18:48:05 +0100,12000.0,0.0,1831.0,Livraison J+1,2021-11-19 18:46:11 +0100,2,Wakiza - Liqueur creme de coco - 70Cl,6000,custom,web,NaN
1,N°1430,evaristedjokle140891@gmail.com,paid,2021-11-19 18:49:13 +0100,6500.0,0.0,992.0,Livraison J+1,2021-11-19 18:39:32 +0100,1,"Origine terre-Riz-Azuki, Gommage lissant et re...",6500,custom,web,NaN
2,N°1429,evaristedjokle140891@gmail.com,paid,2021-11-19 18:50:02 +0100,6000.0,0.0,915.0,Livraison J+1,2021-11-19 18:37:38 +0100,6,Origine terre-Savon Citron Pamplemousse,1000,custom,web,NaN
3,N°1428,NaN,paid,2021-11-16 12:41:49 +0100,45000.0,0.0,6864.0,NaN,2021-11-16 12:41:49 +0100,1,PRT20-0001 -Tecno POP 5 - Système Android 10 -...,45000,custom,shopify_draft_order,2.295112e+10
4,N°1427,yamaviko15@gmail.com,pending,NaN,2950.0,0.0,450.0,Livraison J+1,2021-11-11 21:11:06 +0100,1,Afrodisiac-Sodabi Original Nature 1/2L,2950,custom,web,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,#1005,spero.vitegni@pivotech.xyz,voided,NaN,5000.0,10.0,900.0,Standard Shipping,2019-05-03 14:44:35 +0200,1,Gommage tonic Corps 300ML CLARINS - 300,5000,Cash on Delivery (COD),web,NaN
574,#1004,spero.vitegni@pivotech.xyz,voided,NaN,5000.0,10.0,900.0,Standard Shipping,2019-05-03 13:43:33 +0200,1,Gommage tonic Corps 300ML CLARINS - 300,5000,Cash on Delivery (COD),web,NaN
575,#1003,spero.vitegni@pivotech.xyz,voided,NaN,5000.0,10.0,900.0,Standard Shipping,2019-05-03 12:53:20 +0200,1,Gommage tonic Corps 300ML CLARINS - 300,5000,Cash on Delivery (COD),web,NaN
576,#1002,NaN,voided,NaN,1200.0,10.0,216.0,Standard Shipping,2019-04-26 11:13:13 +0200,1,Arachide enrobée en bouteille amuse gueule,1200,Bank Deposit,web,2.296633e+10
577,#1001,NaN,paid,2019-04-30 12:31:48 +0200,1200.0,10.0,216.0,Standard Shipping,2019-04-26 11:05:19 +0200,1,Amuses gueules,1200,Cash on Delivery (COD),web,2.296633e+10

In [64]:
orders.columns = [
    'name', 
    'email',
    'financial_status',
    'paid_at',
    'subtotal',
    'shipping',
    'taxes',
    'shipping_method',
    'created_at',
    'lineitem_quantity',
    'lineitem_name',
    'lineitem_price',
    'payment_method',
    'source',
    'phone'
]

In [102]:
orders.to_csv("data/endogene/clean data/orders.csv")

## Nettoyage de ___products___

In [67]:
products = pd.read_csv("data/endogene/products_export_1.csv")

In [68]:
products.columns.tolist()

['Handle',
 'Title',
 'Body (HTML)',
 'Vendor',
 'Standard Product Type',
 'Custom Product Type',
 'Tags',
 'Published',
 'Option1 Name',
 'Option1 Value',
 'Option2 Name',
 'Option2 Value',
 'Option3 Name',
 'Option3 Value',
 'Variant SKU',
 'Variant Grams',
 'Variant Inventory Tracker',
 'Variant Inventory Policy',
 'Variant Fulfillment Service',
 'Variant Price',
 'Variant Compare At Price',
 'Variant Requires Shipping',
 'Variant Taxable',
 'Variant Barcode',
 'Image Src',
 'Image Position',
 'Image Alt Text',
 'Gift Card',
 'SEO Title',
 'SEO Description',
 'Google Shopping / Google Product Category',
 'Google Shopping / Gender',
 'Google Shopping / Age Group',
 'Google Shopping / MPN',
 'Google Shopping / AdWords Grouping',
 'Google Shopping / AdWords Labels',
 'Google Shopping / Condition',
 'Google Shopping / Custom Product',
 'Google Shopping / Custom Label 0',
 'Google Shopping / Custom Label 1',
 'Google Shopping / Custom Label 2',
 'Google Shopping / Custom Label 3',
 'Google Shopping / Custom Label 4',
 'Variant Image',
 'Variant Weight Unit',
 'Variant Tax Code',
 'Cost per item',
 'Status']

In [70]:
products = products.get([ 
    'Title',
    'Custom Product Type',
    'Status'
])

In [72]:
products

                                        Title Custom Product Type  Status
0                            BEAU BEBE 2è âge         Alimentaire   draft
1                                         NaN                 NaN     NaN
2                                         NaN                 NaN     NaN
3                    FARINE BEAU BEBE 1er AGE         Alimentaire   draft
4                                         NaN                 NaN     NaN
...                                       ...                 ...     ...
3281                                      NaN                 NaN     NaN
3282              Evian - eau minérale - 1,5L         Alimentaire  active
3283                  Eau minérale Contrex 1L         Alimentaire  active
3284   Lait démaquillant doux 250ML/EVOLUDERM   hygiène et beauté  active
3285  Eau micellaire visage Evoluderme 250 ml   Beauté et hygiène  active

[3286 rows x 3 columns]

In [78]:
products = products.dropna(subset=['Title'])

In [85]:
products.shape

(1633, 3)

In [88]:
# len(products.Title.unique().tolist())
products.nunique()

Title                  1617
Custom Product Type      36
Status                    2
dtype: int64

In [96]:
products.drop_duplicates(subset="Title", keep = 'first', inplace=True)

In [98]:
products

,Title,Custom Product Type,Status
0,BEAU BEBE 2è âge,Alimentaire,draft
3,FARINE BEAU BEBE 1er AGE,Alimentaire,draft
7,Copie de Cité des perles- Pot à Rangements Sty...,Accessoires mode femme,draft
8,Cité des perles- Pot à Rangements Stylo-Vert e...,Accessoires mode femme,draft
10,Cité des perles- Boîte de rangement-rose et jaune,Accessoires mode femme,draft
...,...,...,...
3280,"Eau minérale Fifa de Ste Luce 1,5L",Alimentaire,active
3282,"Evian - eau minérale - 1,5L",Alimentaire,active
3283,Eau minérale Contrex 1L,Alimentaire,active
3284,Lait démaquillant doux 250ML/EVOLUDERM,hygiène et beauté,active
3285,Eau micellaire visage Evoluderme 250 ml,Beauté et hygiène,active

In [99]:
products.columns = [ 
    'title',
    'category',
    'status'
]

In [100]:
products

,title,category,status
0,BEAU BEBE 2è âge,Alimentaire,draft
3,FARINE BEAU BEBE 1er AGE,Alimentaire,draft
7,Copie de Cité des perles- Pot à Rangements Sty...,Accessoires mode femme,draft
8,Cité des perles- Pot à Rangements Stylo-Vert e...,Accessoires mode femme,draft
10,Cité des perles- Boîte de rangement-rose et jaune,Accessoires mode femme,draft
...,...,...,...
3280,"Eau minérale Fifa de Ste Luce 1,5L",Alimentaire,active
3282,"Evian - eau minérale - 1,5L",Alimentaire,active
3283,Eau minérale Contrex 1L,Alimentaire,active
3284,Lait démaquillant doux 250ML/EVOLUDERM,hygiène et beauté,active
3285,Eau micellaire visage Evoluderme 250 ml,Beauté et hygiène,active

In [104]:
products.to_csv("data/endogene/clean data/products.csv")

## Nettoyage de ___sales___

In [110]:
sales = pd.read_csv("data/endogene/sales_2020-01-20_2021-11-20.csv")

In [107]:
sales

,product_title,product_vendor,product_type,net_quantity,gross_sales,discounts,returns,net_sales,taxes,total_sales
0,Popcorn Caramel - lot de 5 unités,Les Popcorns de la Capitale,Alimentaire,60,57311.0,0.0,-6751.0,50560.0,9120.0,59680.0
1,Thé_Moringa 20 sachets,le-grandmarche,Alimentaire,37,36434.0,0.0,-5084.0,31350.0,5650.0,37000.0
2,NAD CHIPS - Chips de manioc - 100g,Nad chips,Alimentaire,28,12715.0,0.0,-848.0,11867.0,2133.0,14000.0
3,Thé Moringa - 20 sachets,Agro-PAA,Alimentaire,24,27962.0,0.0,-7626.0,20336.0,3664.0,24000.0
4,Bionice - chips de fromage au lait de vache,Ets ZECM NICE,Alimentaire,20,9248.0,0.0,-848.0,8400.0,1510.0,9910.0
...,...,...,...,...,...,...,...,...,...,...
238,Babaria - baume massage rafraîchissant pieds e...,le-grandmarche,Beauté et hygiène,-2,0.0,0.0,-3325.0,-3325.0,-599.0,-3924.0
239,ROGE Carvaillès Créme Lavante Hydratante 300ml,le-grandmarche,Beauté et hygiène,-2,0.0,0.0,-14780.0,-14780.0,-2660.0,-17440.0
240,Amuses gueules,le-grandmarche,Alimentaire,-2,0.0,0.0,-2034.0,-2034.0,-366.0,-2400.0
241,Arachide enrobée en bouteille amuse gueule,le-grandmarche,Alimentaire,-3,0.0,0.0,-3234.0,-3234.0,-582.0,-3816.0
242,Gommage tonic Corps 300ML CLARINS,le-grandmarche,Beauté et hygiène,-7,0.0,0.0,-35000.0,-35000.0,-6300.0,-41300.0

In [111]:
sales = sales.drop([
    'product_vendor',
    'discounts',
    'taxes',
    'returns'
], axis=1)

In [113]:
sales

,product_title,product_type,net_quantity,gross_sales,net_sales,total_sales
0,Popcorn Caramel - lot de 5 unités,Alimentaire,60,57311.0,50560.0,59680.0
1,Thé_Moringa 20 sachets,Alimentaire,37,36434.0,31350.0,37000.0
2,NAD CHIPS - Chips de manioc - 100g,Alimentaire,28,12715.0,11867.0,14000.0
3,Thé Moringa - 20 sachets,Alimentaire,24,27962.0,20336.0,24000.0
4,Bionice - chips de fromage au lait de vache,Alimentaire,20,9248.0,8400.0,9910.0
...,...,...,...,...,...,...
238,Babaria - baume massage rafraîchissant pieds e...,Beauté et hygiène,-2,0.0,-3325.0,-3924.0
239,ROGE Carvaillès Créme Lavante Hydratante 300ml,Beauté et hygiène,-2,0.0,-14780.0,-17440.0
240,Amuses gueules,Alimentaire,-2,0.0,-2034.0,-2400.0
241,Arachide enrobée en bouteille amuse gueule,Alimentaire,-3,0.0,-3234.0,-3816.0
242,Gommage tonic Corps 300ML CLARINS,Beauté et hygiène,-7,0.0,-35000.0,-41300.0

In [115]:
sales.columns = [
    'product_title',
    'product_category',
    'quantity',
    'gross_sales',
    'net_sales',
    'total_sales'
]

In [116]:
sales

,product_title,product_category,quantity,gross_sales,net_sales,total_sales
0,Popcorn Caramel - lot de 5 unités,Alimentaire,60,57311.0,50560.0,59680.0
1,Thé_Moringa 20 sachets,Alimentaire,37,36434.0,31350.0,37000.0
2,NAD CHIPS - Chips de manioc - 100g,Alimentaire,28,12715.0,11867.0,14000.0
3,Thé Moringa - 20 sachets,Alimentaire,24,27962.0,20336.0,24000.0
4,Bionice - chips de fromage au lait de vache,Alimentaire,20,9248.0,8400.0,9910.0
...,...,...,...,...,...,...
238,Babaria - baume massage rafraîchissant pieds e...,Beauté et hygiène,-2,0.0,-3325.0,-3924.0
239,ROGE Carvaillès Créme Lavante Hydratante 300ml,Beauté et hygiène,-2,0.0,-14780.0,-17440.0
240,Amuses gueules,Alimentaire,-2,0.0,-2034.0,-2400.0
241,Arachide enrobée en bouteille amuse gueule,Alimentaire,-3,0.0,-3234.0,-3816.0
242,Gommage tonic Corps 300ML CLARINS,Beauté et hygiène,-7,0.0,-35000.0,-41300.0

In [117]:
sales.to_csv("data/endogene/clean data/sales.csv")

## Nettoyage de ___visits___

In [121]:
visits = pd.read_csv("data/endogene/visits_2020-01-20_2021-11-20 (1).csv")

In [122]:
visits.shape

(134, 3)

In [127]:
visits.dropna(subset=['location_country'], inplace=True)

In [128]:
visits.shape

(133, 3)

In [129]:
visits

           location_country  total_visitors  total_sessions
0                     Benin            7220           13494
1             United States            3433            3486
2                    France             860            1033
3               Ivory Coast             721             829
5                   Ireland             504             504
..                      ...             ...             ...
129                Pakistan               1               1
130        French Polynesia               1               1
131                 Denmark               1               1
132             Puerto Rico               1               1
133  Bosnia and Herzegovina               1               1

[133 rows x 3 columns]

In [130]:
visits.to_csv("data/endogene/clean data/visits.csv")